<div class="jumbotron center">
	<h1>Welcome to my page!!</h1>
	<p>Click Here to <%= link_to "Login", "http://www.google.com", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", "http://pinterest.com", class: "btn btn-primary btn-lg" %> 
	</p>
	</div>